{{#if post.access}}
<div class="comment container small">
    <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="ZmPb3j0F" data-limit="5" data-color="E22F38" data-colorful="1"></script>
</div>
{{/if}} 
